  <body>
    <header>
        <nav id="menu" class=".backgroundImage">
        <h3>
            <a href="/home">Property Search</a>


        </h3>
        </nav>
      </header>
        <main id="panel">
        <button class="toggle-button">☰</button>


 
