<html>
<head>
	<title>User Profile</title>
	<%include ./partials/head.ejs %>
</head>
	<%include ./partials/registerHeader.ejs %>
<body>
	<main class="main">
		<div class="expandableContainer">

			<h1>REGISTRATION</h1>
			<form class="form" action="/agent/register" method="POST">
				<% if (message) {%>
					<p id="registration-error-notice">You already have an account!</p>
				<% } %>
				<input class="login-field" type="text" name="fullname" placeholder="Fullname Required"><br>
				<input class="login-field" type="text" name="email" placeholder="Email Required"><br>
				<input class="login-field" type="text" name="mlsid" placeholder="MLS id"><br>
				<input class="login-field" type="password" placeholder="Password" name="password"><br>
				<button>Register</button><br>
				<p id="already-registered">Already have an account? <a href="/user/login">login here</a></p>
			</form>
		</div>
	</main>
	<%include ./partials/footer.ejs %>
</body>
</html>